$alpha-color: #667eea;
$alphaDark: #5a67d8;
$alphaDarker: #434190;
$beta-color: #9f7aea;
$betaDark: #805ad5;
$betaDarker: #553c9a;
$omega-color: #718096;
$omegaLight: #e2e8f0;

$gradient-1: linear-gradient(45deg, $alpha-color 32%, $betaDark 80%);
